In [22]:
#import library

from mysql.connector import connect
from dotenv import dotenv_values

In [18]:
# memasukkan env ke parameter

params = {
    'db':dotenv_values('.env')
}

db_user = params['db']['MYSQL_USERNAME']
db_password = params['db']['MYSQL_PASSWORD']
db_host = params['db']['MYSQL_HOST']
db_port = params['db']['MYSQL_PORT']
db_name = params['db']['MYSQL_DB']

In [39]:
# mengecek koneksi

db = connect(
    host = db_host,
    user = db_user,
    password = db_password,
    database = db_name
)

if db:
    print(db)
    print('Database berhasil terkoneksi')

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D4108B7550>
Database berhasil terkoneksi

In [40]:
# membuat database

try:
    cursor_db = db.cursor() 
    cursor_db.execute("CREATE DATABASE IF NOT EXISTS school")
    cursor_db.close()
    db.close()
except Exception as e:
    print(f'Database gagal dibuat: {e}')

In [23]:
# membuat table

db = connect(
    host = db_host,
    user = db_user,
    password = db_password,
    database = db_name
)

if db:
    print(db)
    print('Database berhasil terkoneksi')

try:
    query = '''
        CREATE Table students(
            id_siswa int primary key auto_increment,
            nama VARCHAR(50) not null,
            id_kelas int not null,
            tahun_masuk int not null)
        '''
    cursor_db = db.cursor()
    cursor_db.execute(query)
    print('table berhasil dibuat')
except Exception as e:
    print(f'Tabel gagal dibuat: {e}')

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D4108B7160>
Database berhasil terkoneksi
table berhasil dibuat

In [24]:
# input data

input_list = [
    ('shiroe', 21, 2012),
    ('akatsuki', 21, 2012),
    ('naotsugu', 21, 2012),
    ('minori', 13, 2013),
    ('touya', 13, 2013),
    ('kanami', 31, 2011)
]

try:
    query= '''
    INSERT INTO students (nama, id_kelas, tahun_masuk)
    VALUES (%s, %s,%s)
    '''
    cursor_db = db.cursor()
    for data in input_list:
        cursor_db.execute(query,data)
    db.commit()
    cursor_db.close()
    print('Data berhasil dimasukkan')
except Exception as e:
    print(f'Data gagal dimasukkan: {e}')
finally:
    db.close()

Data berhasil dimasukkan

In [28]:
# mengubah data
db = connect(
    host = db_host,
    user = db_user,
    password = db_password,
    database = db_name
)

if db:
    print(db)
    print('Database berhasil terkoneksi')

def update_data(nama, kolom, nilai):
    query = f'''
        UPDATE students
        SET 
            {kolom} = {nilai}
        WHERE
            nama = '{nama}'
        '''
    cursor_db = db.cursor()
    cursor_db.execute(query)
    db.commit()
    cursor_db.close()
    db.close()
try:
    update_data('kanami','id_kelas',32)
    print('Data berhasil diubah')
except Exception as e:
    print(f'Data gagal diubah: {e}')

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D40FD81280>
Database berhasil terkoneksi
Data berhasil diubah

In [38]:
# menghapus data pada table

db = connect(
    host = db_host,
    user = db_user,
    password = db_password,
    database = db_name
)

if db:
    print(db)
    print('Database berhasil terkoneksi')

def delete_data(nama):
    query = f'''
            DELETE FROM students
            WHERE
                nama = "{nama}"
            '''
    cursor_db = db.cursor()
    cursor_db.execute(query)
    db.commit()
    cursor_db.close()
    db.close()

try:
    delete_data('touya')
    print('Data berhasil dihapus')
except Exception as e:
    print(f'Data gagal dihapus: {e}')

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D4108B7D00>
Database berhasil terkoneksi
Data berhasil dihapus

In [35]:
def search_all():
    query = '''
    SELECT * FROM STUDENTS
    '''

    cursor_db = db.cursor()
    cursor_db.execute(query)
    result = cursor_db.fetchall()
    cursor_db = db.close()

    for student in result:
        print(student)
try:
    search_all()
except Exception as e:
    print(f'Data gagal diambil: {e}')

(1, 'shiroe', 21, 2012)
(2, 'akatsuki', 21, 2012)
(3, 'naotsugu', 21, 2012)
(4, 'minori', 13, 2013)
(5, 'touya', 13, 2013)
(6, 'kanami', 32, 2011)